body{
    background: url('../images/index/alexander-mils-honey-unsplash.jpg');

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.box{
    text-align: center;
    width: 570px;
    height: 1020px;
    margin: 0 auto;
  
    background-color: hsla(40, 100%, 25%, 0.3);
}

.tit{
    text-align: center;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 2%; 
}

.mem{
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

ul{
	list-style: none;
	padding-top:35px;
	padding-inline-start:0px;
}

li{
	height:70px;
	margin-top:20px;
}

li:first-child{
	margin-top:10px
}

input{
	border:none;
	border-radius: 2px;
	width:325px;
	padding:10px;
}

.email-send{
	margin-left:50px;
}

sup{
	color:red;
	font-size:18px
}

.notice-p{
	margin-top:10px;
	text-align: right;
}

#birthday{
	margin-left:10px;
}

.alert-p{
	margin:0px;
	text-align: right;
	margin-right:100px;
	color:#FFF3E0;
	font-weight:500; 
	display:none;
}

.alert-id, .alert-password{
	display:block;
}

.btn{
    background-color:#FFA726;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 10px;
    border-radius: .25rem;
}

.btn:hover{
    background-color: #F57C00;
}


.checkEmail{
	margin-left:55px;
}

.userNumber{
	display:none;
}

.radio-container input{
	width: 15px;
	height: 15px;
	margin:20px;
}

#submit-btn{
	margin-top:10px;
	width:150px;
}


